@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 55px;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
    color: #fff;
    text-shadow: -1px 0 #034c52, 0 1px #034c52, 1px 0 #034c52, 0 -1px #034c52;
    display: inline-block;
}

.header {
    background-color: #015c63;
}

div {
    margin: 5px 0px;
}

label {
    margin-right: 10px;
}

input {
    margin-right: 3px;
}

span {
    white-space: pre;
}


/* ------ BUTTONS ------ */

button {
  background-color: #333;
  color: #fff;
  padding: 7px 14px;
  border: 1px solid #333;
  border-radius: 5px;
  margin: 2px 2px;
  cursor: pointer;
}

button:hover {
    background-color: #555;
}

button:disabled {
    cursor: not-allowed;
    background-color: #b5b5b5;
    border: 1px solid #929292;
}

.generate-example-button {
    background-color: salmon;
    border-color: rgb(203, 104, 93);
    color: black;
    margin-bottom: 20px;
    font-weight: bold;
}

.generateNextExample {
    background-color: salmon;
    border-color: rgb(203, 104, 93);
    color: black;
    font-weight: bold;
}

.generate-example-button:enabled:hover {
    background-color: rgb(210, 107, 95);
}

.closeButton, .closeButton:hover {
    background-color: transparent;
    color: #b5b5b5;
    border:none;
    font-size: larger;
}

.copy {
    background-color: transparent;
    border: none;
}

/* ------ BUTTONS ------ */

/* ------ IMAGE ------ */

.copy {
    padding-top: 3px;
    padding-bottom: 0px;
    padding-left: 3px;
    padding-right: 3px;
    margin-bottom: 0px;
}

.documentation {
    padding-top: 3px;
    padding-bottom: 0px;
    padding-left: 3px;
    padding-right: 3px;
    margin-bottom: 0px;
    margin-top: -10px;
}

.copyimg {
    -webkit-filter: invert(1);
    filter:invert(1);
    height: 20px;
    width: 20px;
}

.clipboardimg {
    -webkit-filter: invert(1);
    filter:invert(1);
    height: 20px;
    width: 20px;
}

.image-link {
    margin-right: 10px;
    margin-top: 10px;
    float: right;
}

.copyright-info{
    bottom: 0;
    position: fixed;
    z-index: -1000;
    font-size: x-small;
    color: #b5b5b5;
}

.Header_Logo {
    margin-left: 5px;
    margin-right: -4px;
    margin-top: 0px;
    margin-bottom: -5px;
    display: inline-block;
}

/* ------ IMAGE ------ */

/* ------ AUTOCOMPLETE ------ */

.p-autocomplete-panel {
    background-color: white;
}

.p-autocomplete {
    min-width: 300px;
    margin: 2px 2px;
}

.p-component {
    border: none;
    border-radius: 5px;

}

.p-inputwrapper {
    border: 1px solid #015c63;
    height: 31px;
}

/* ------ AUTOCOMPLETE ------ */

/* ------ TEXT FIELDS ------ */

.outsidewrapper {
    padding-left: 5px;
    padding-top: 0px;
    padding-bottom: 5px;
    padding-right: 2px;
    border: 1px solid transparent;
    border-radius: 5px;
}

.outsidewrapper:hover {
    background-color: #f0f0f0;
    padding-left: 5px;
    padding-top: 0px;
    padding-bottom: 5px;
    padding-right: 2px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
}

.Function_Title {
    margin-bottom: 0px;
    margin-left: 2px;
    margin-top: 0px;
    padding-top: 5px;
}

.wrapper {
    display: flex;
}

.coder {
    margin-right: 50px;
    flex: 1;
    overflow: hidden;
}

.explainer {
    margin-right: 5px;
    flex: 1;
    overflow: hidden;
}

.container {
    overflow-y: auto;
    height: 350px;
    border: 1px solid #015c63;
    border-radius: 5px;
    background-color: rgba(13,17,23,255);
    margin: 0px 0px 0px;
    padding-left: 5px;
    color: #bababa;
}

.container_explain {
    overflow-y: auto;
    height: 305px;
    border: 1px solid #015c63;
    border-radius: 5px;
    background-color: white;
    margin: 0px 0px 0px;
    padding-left: 5px;
    white-space: pre-line;
}

/* ------ TEXT FIELDS ------ */