@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 55px;
    margin: 0 0px;
    padding-left: 10px;
    background-color: #015c63;
    color: #fff;
    text-shadow: -1px 0 #034c52, 0 1px #034c52, 1px 0 #034c52, 0 -1px #034c52;

}

div {
    margin: 5px 0px;
}

button {
  background-color: #333;
  color: #fff;
  padding: 7px 14px;
  border: 1px solid #333;
  border-radius: 5px;
  margin: 2px 2px;
  cursor: pointer;
}

button:hover {
    background-color: #555;
}

button:disabled {
    cursor: not-allowed;
    background-color: #b5b5b5;
    border: 1px solid #929292;
}

.generate-example-button {
    background-color: salmon;
    border-color: rgb(203, 104, 93);
    color: black;
    margin-bottom: 20px;
    font-weight: bold;
}

.generate-example-button:enabled:hover {
    background-color: rgb(210, 107, 95);
}

label {
    margin-right: 10px;
}

input {
    margin-right: 3px;
}

span {
    white-space: pre;
}

.container {
    overflow: auto;
    min-height: 300px;
    border: 1px solid #015c63;
    border-radius: 5px;
    background-color: white;
    margin: 0px 0px 0px;
}

.p-autocomplete-panel {
    background-color: white;
}

.p-autocomplete {
    min-width: 350px;
}

.p-component {
    border: none;
    border-radius: 5px;

}

.p-inputwrapper {
    border: 1px solid #015c63;
    height: 31px;
}

.wrapper {
    overflow: auto;
}

.explainer {
    float:left;
    width: 700px;
}

.container_explain {
    overflow: auto;
    min-height: 255px;
    border: 1px solid #015c63;
    border-radius: 5px;
    background-color: white;
    margin: 0px 0px 0px;
    padding-left: 5px;
    white-space: pre-wrap;
}

.coder {
    float: left;
    margin-right: 50px;
    width: 700px;
}
