/* Reset default styles */
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #2e2e2e;
  color: #cbcbcb;
}

/* Header styles */
header {
  color: coral;
  font-size: 20px;
}

/* General container styles */
.container,
.column {
  box-sizing: border-box;
}

.container {
  width: 100%;
  overflow: hidden;
}

.column {
  width: 50%;
  float: left;
  padding: 20px;
}

.column:nth-child(even) {
  margin-top: 10px;
}

/* Form styles */
div,
form {
  position: relative;
  padding: 10px 5px;
  background-color: #2e2e2e;
  border-radius: 5px;
}

form {
  max-width: 500px;
}

/* Output container styles */
#outputContainer {
  border: 3px solid #ccc;
  padding: 10px;
  margin-top: 10px;
  max-width: 500px;
  overflow: hidden;
  height: 300px;
  background-color: #2e2e2e;
}

#output {
  margin: 0;
}

/* Label styles */
label {
  margin-right: 10px;
}

/* Button styles */
button {
  margin: 5px;
  padding: 8px;
  cursor: pointer;
  background-color: #B03A2E;
  color: #ecf0f1;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #922B21;
}

/* Input styles */
input,
#contextInput {
  padding: 8px;
  box-sizing: border-box;
  background-color: #5e5e5e;
  color: #ecf0f1;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Context input specific styles */
#contextInput {
  padding: 12px;
  height: 200px;
  width: 380px;
  vertical-align: top;
  line-height: normal;
}

/* Explain button and explanation styles */
#explainButton {
  margin: 5px;
  padding: 8px;
  cursor: pointer;
  background-color: #B03A2E; /* Greyed out color for disabled state */
  color: #ffffff; /* Text color for disabled state */
  border: none;
  border-radius: 5px;
}

#explainButton:disabled {
  background-color: #808080; /* Lighter grey for disabled state */
  cursor: not-allowed; /* Show not-allowed cursor for disabled state */
}

#explanationContainer {
  border: 3px solid #ccc;
  padding: 10px;
  margin-top: 10px;
  max-width: 500px;
  overflow: hidden;
  height: 145px;
  background-color: #2e2e2e;
}

#explanation {
  margin: 0;
  color: #ffffff;
}

.hidden {
  display: none;
}